.app-container {
  display: flex;
  justify-content: center;
  font-weight: bold;
  margin: 1rem;
  border: 1px solid lightgray;
  padding: 1rem;
  border-radius: 0.5rem;
}

.centered-container {
  width: 40rem;
  margin: 0 auto;
  /* text-align: center; Optional: To center the text within the container */
}

.no-result {
  display: flex;
  justify-content: center;
  font-weight: bold;
  margin-top: 1rem;
}
